
main{
    margin-top: 2vh;
}

#fav-item{
    position: relative;
    height: auto;
    border-radius: 1vh;
    /* background-color: rgb(124, 110, 161); */
    overflow: hidden;
}


ul{
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    /* justify-content: space-around; */
    position: relative;
    background-color: #313131;
    padding: 2vh;
    border-radius: 2vh;
    height: 2vh;
}
ul:hover{
    cursor: pointer;
    background-color: #413939;
}
.movie-name{
    position: absolute;
    height: 100%;
    width: auto;
    left: 10vh;
    top: 30%;
}
.delete-btn {
    position: absolute;
    right: 10vh;
    top: 30%;
    height: 100%;
    width: 5%;
}
#delete-btn:hover{
    cursor: pointer;
}

#movie-info {
    position: absolute;
    left: 0;
    height: 100%;
    width: 95%;
    background-color: beige;
    color: black;
}